Repository KusionStack/konfig, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add .devcontainer.json
  .devcontainer.json
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add .devcontainer.json (#64)
  .devcontainer.json
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add an "Open in GitHub Codespaces" badge
  README-zh.md
  README.md
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add an "Open in GitHub Codespaces" badge (#65)
  README-zh.md
  README.md
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

set automatically opening files and extensions to install
  .devcontainer.json
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

set automatically opening files and extensions to install (#67)
  .devcontainer.json
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

publish service config for gb-frontend
  appops/guestbook-frontend/base/base.k
  appops/guestbook-frontend/pre/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/prod/ci-test/settings.yaml
  appops/guestbook-frontend/prod/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/test/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen

fix examples to be deployed successfully
  appops/guestbook-frontend/base/base.k
  appops/guestbook-frontend/pre/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/pre/main.k
  appops/guestbook-frontend/prod/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/prod/main.k
  appops/guestbook-frontend/test/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/test/main.k
  appops/http-echo/base/base.k
  appops/http-echo/dev/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen

fix key-value order in golden yaml files
  appops/http-echo/dev/ci-test/stdout.golden.yaml
  appops/nginx-example/dev/ci-test/stdout.golden.yaml
  base/examples/job-example/dev/ci-test/stdout.golden.yaml
  base/examples/kcl-vault-agent/dev/ci-test/stdout.golden.yaml
  base/examples/kcl-vault-csi/dev/ci-test/stdout.golden.yaml
  base/examples/server/app_config_map/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_label_selector/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_main_container/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_need_namespace/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_scheduling_strategy/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_secret/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_service/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_sidecar/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_stateful_set/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_volume/prod/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen

update .devcontainer.json with kusion quick start env
  .devcontainer.json
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix key-value order in golden yaml files (#72)
  appops/http-echo/dev/ci-test/stdout.golden.yaml
  appops/nginx-example/dev/ci-test/stdout.golden.yaml
  base/examples/job-example/dev/ci-test/stdout.golden.yaml
  base/examples/kcl-vault-agent/dev/ci-test/stdout.golden.yaml
  base/examples/kcl-vault-csi/dev/ci-test/stdout.golden.yaml
  base/examples/server/app_config_map/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_label_selector/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_main_container/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_need_namespace/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_scheduling_strategy/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_secret/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_service/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_sidecar/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_stateful_set/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_volume/prod/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen

fix examples to be deployed successfully (#70)
  appops/guestbook-frontend/base/base.k
  appops/guestbook-frontend/pre/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/pre/main.k
  appops/guestbook-frontend/prod/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/prod/main.k
  appops/guestbook-frontend/test/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/test/main.k
  appops/http-echo/base/base.k
Owners: @elliotxx, @howieyuen

update .devcontainer.json with kusion quick start env (#73)
  .devcontainer.json
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix pipeline kubeconfig
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add alicloud instance example
  base/pkg/kusion_clouds/alicloud/alicloud_instance.k
  base/pkg/kusion_clouds/alicloud/alicloud_oss_bucket.k
  base/pkg/kusion_clouds/alicloud/alicloud_security_group.k
  base/pkg/kusion_clouds/alicloud/alicloud_slb.k
  base/pkg/kusion_clouds/alicloud/alicloud_vpc.k
  base/pkg/kusion_clouds/alicloud/alicloud_vswitch.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_config.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_instance_backend.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_oss_backend.k
  base/pkg/kusion_models/commons/resource.k
  base/pkg/kusion_models/commons/resource_builder.k
  clouds/alicloud/alicloud_instance/instance/ci-test/settings.yaml
  clouds/alicloud/alicloud_instance/instance/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_instance/instance/kcl.yaml
  clouds/alicloud/alicloud_instance/instance/main.k
  clouds/alicloud/alicloud_instance/instance/stack.yaml
  clouds/alicloud/alicloud_instance/project.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add alicloud oss bucket resource
  clouds/alicloud/alicloud_oss/oss/ci-test/settings.yaml
  clouds/alicloud/alicloud_oss/oss/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_oss/oss/kcl.yaml
  clouds/alicloud/alicloud_oss/oss/main.k
  clouds/alicloud/alicloud_oss/oss/stack.yaml
  clouds/alicloud/alicloud_oss/project.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

feat: add kubevela core api models and add oam web service demo for example
  base/examples/kcl-oam-web-service/web-service.k
  base/examples/kcl-oam-web-service/web-service.yaml
  base/pkg/kusion_kubevela/README.md
  base/pkg/kusion_kubevela/v1alpha1/core_oam_dev_v1alpha1_policy.k
  base/pkg/kusion_kubevela/v1alpha1/standard_oam_dev_v1alpha1_rollout.k
  base/pkg/kusion_kubevela/v1alpha2/core_oam_dev_v1alpha2_application.k
  base/pkg/kusion_kubevela/v1alpha2/core_oam_dev_v1alpha2_application_configuration.k
  base/pkg/kusion_kubevela/v1alpha2/core_oam_dev_v1alpha2_application_revision.k
  base/pkg/kusion_kubevela/v1alpha2/core_oam_dev_v1alpha2_component.k
  base/pkg/kusion_kubevela/v1alpha2/core_oam_dev_v1alpha2_component_definition.k
  base/pkg/kusion_kubevela/v1alpha2/core_oam_dev_v1alpha2_health_scope.k
  base/pkg/kusion_kubevela/v1alpha2/core_oam_dev_v1alpha2_scope_definition.k
  base/pkg/kusion_kubevela/v1alpha2/core_oam_dev_v1alpha2_workload_definition.k
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_application.k
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_application_revision.k
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_policy_definition.k
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_resource_tracker.k
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_scope_definition.k
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_workflow_step_definition.k
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_workload_definition.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

update guestbook quickstart demo: add dev stack
  appops/guestbook-frontend/dev/ci-test/settings.yaml
  appops/guestbook-frontend/dev/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/dev/kcl.yaml
  appops/guestbook-frontend/dev/main.k
  appops/guestbook-frontend/dev/stack.yaml
  appops/guestbook-frontend/test/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/test/main.k
Owners: @elliotxx, @howieyuen

update devcontainer: update default openFiles
  .devcontainer.json
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add dev stack in guestbook quick start demo (#79)
  .devcontainer.json
  appops/guestbook-frontend/dev/ci-test/settings.yaml
  appops/guestbook-frontend/dev/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/dev/kcl.yaml
  appops/guestbook-frontend/dev/main.k
  appops/guestbook-frontend/dev/stack.yaml
  appops/guestbook-frontend/test/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/test/main.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add alicloud instance example (#75)
  base/pkg/kusion_clouds/alicloud/alicloud_instance.k
  base/pkg/kusion_clouds/alicloud/alicloud_oss_bucket.k
  base/pkg/kusion_clouds/alicloud/alicloud_security_group.k
  base/pkg/kusion_clouds/alicloud/alicloud_slb.k
  base/pkg/kusion_clouds/alicloud/alicloud_vpc.k
  base/pkg/kusion_clouds/alicloud/alicloud_vswitch.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_config.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_instance_backend.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_oss_backend.k
  base/pkg/kusion_models/commons/resource.k
  base/pkg/kusion_models/commons/resource_builder.k
  clouds/alicloud/alicloud_instance/instance/ci-test/settings.yaml
  clouds/alicloud/alicloud_instance/instance/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_instance/instance/kcl.yaml
  clouds/alicloud/alicloud_instance/instance/main.k
  clouds/alicloud/alicloud_instance/instance/stack.yaml
  clouds/alicloud/alicloud_instance/project.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

Add alicloud oss bucket (#76)
  clouds/alicloud/alicloud_oss/oss/ci-test/settings.yaml
  clouds/alicloud/alicloud_oss/oss/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_oss/oss/kcl.yaml
  clouds/alicloud/alicloud_oss/oss/main.k
  clouds/alicloud/alicloud_oss/oss/stack.yaml
  clouds/alicloud/alicloud_oss/project.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix workflow script: install necessary pytest modules before testing
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix workflow script: install necessary pytest modules before testing (#84)
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

workaround kcl lint problem
  appops/clickhouse-operator/base/base.k
Owners: @elliotxx, @howieyuen

fix test script
  hack/test_konfig.py
Owners: @elliotxx, @markliby

workaround missing kclvm_cli
  .github/workflows/lint.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

workaround kcl lint problem (#83)
  .github/workflows/lint.yml
  appops/clickhouse-operator/base/base.k
  hack/test_konfig.py
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add name attribute on Server model; add redis components for guestbook app
  .devcontainer.json
  README-zh.md
  README.md
  appops/guestbook-frontend/base/base.k
  appops/guestbook-frontend/dev/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/prod/ci-test/stdout.golden.yaml
  appops/guestbook-frontend/test/ci-test/stdout.golden.yaml
  appops/guestbook/OWNERS
  appops/guestbook/README.md
  appops/guestbook/base/base.k
  appops/guestbook/dev/ci-test/settings.yaml
  appops/guestbook/dev/ci-test/stdout.golden.yaml
  appops/guestbook/dev/kcl.yaml
  appops/guestbook/dev/main.k
  appops/guestbook/dev/stack.yaml
  appops/guestbook/prod/ci-test/settings.yaml
  appops/guestbook/prod/ci-test/stdout.golden.yaml
  appops/guestbook/prod/kcl.yaml
  appops/guestbook/prod/main.k
  appops/guestbook/prod/stack.yaml
  appops/guestbook/project.yaml
  appops/guestbook/test/ci-test/settings.yaml
  appops/guestbook/test/ci-test/stdout.golden.yaml
  appops/guestbook/test/kcl.yaml
  appops/guestbook/test/main.k
  appops/guestbook/test/stack.yaml
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/frontend/server.k
  base/pkg/kusion_models/kube/render/render.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

update server model: remove boilerplate
  appops/guestbook/base/base.k
  appops/guestbook/dev/ci-test/stdout.golden.yaml
  appops/guestbook/prod/ci-test/stdout.golden.yaml
  appops/guestbook/test/ci-test/stdout.golden.yaml
  appops/http-echo/dev/ci-test/stdout.golden.yaml
  appops/nginx-example/dev/ci-test/stdout.golden.yaml
  base/examples/monitoring/prometheus-example-app/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_config_map/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_label_selector/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_main_container/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_need_namespace/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_scheduling_strategy/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_secret/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_service/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_sidecar/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_stateful_set/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_volume/prod/ci-test/stdout.golden.yaml
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/mixins/service_mixin.k
Owners: @elliotxx, @howieyuen, @Peefy

update server label key
  appops/guestbook/dev/ci-test/stdout.golden.yaml
  appops/guestbook/prod/ci-test/stdout.golden.yaml
  appops/guestbook/test/ci-test/stdout.golden.yaml
  appops/http-echo/dev/ci-test/stdout.golden.yaml
  appops/nginx-example/dev/ci-test/stdout.golden.yaml
  base/examples/monitoring/prometheus-example-app/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_config_map/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_label_selector/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_main_container/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_need_namespace/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_scheduling_strategy/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_secret/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_service/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_sidecar/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_stateful_set/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_volume/prod/ci-test/stdout.golden.yaml
  base/pkg/kusion_models/kube/backend/server_backend.k
Owners: @elliotxx, @howieyuen, @Peefy

example: secret as code
  base/examples/secret-as-code/base/base.k
  base/examples/secret-as-code/dev/ci-test/settings.yaml
  base/examples/secret-as-code/dev/ci-test/stdout.golden.yaml
  base/examples/secret-as-code/dev/kcl.yaml
  base/examples/secret-as-code/dev/main.k
  base/examples/secret-as-code/dev/stack.yaml
  base/examples/secret-as-code/project.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

refactor: add workload instance type annotation.
  base/pkg/kusion_models/kube/backend/server_backend.k
Owners: @elliotxx

refactor: add workload instance type annotation. (#85)
  base/pkg/kusion_models/kube/backend/server_backend.k
Owners: @elliotxx

add alicloud ack example
  base/pkg/kusion_clouds/alicloud/alicloud_cs_managed_kubernetes.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_managed_kubernetes_backend.k
  clouds/alicloud/alicloud_kubernetes/ack/ci-test/settings.yaml
  clouds/alicloud/alicloud_kubernetes/ack/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_kubernetes/ack/kcl.yaml
  clouds/alicloud/alicloud_kubernetes/ack/main.k
  clouds/alicloud/alicloud_kubernetes/ack/stack.yaml
  clouds/alicloud/alicloud_kubernetes/project.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add wordpress example
  appops/wordpress/README.md
  appops/wordpress/base/base.k
  appops/wordpress/dev/ci-test/settings.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/kcl.yaml
  appops/wordpress/dev/main.k
  appops/wordpress/dev/stack.yaml
  appops/wordpress/project.yaml
  base/pkg/kusion_clouds/alicloud_backend/alicloud_oss_backend.k
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/frontend/server.k
  base/pkg/kusion_models/kube/frontend/storage/objectstorage.k
  base/pkg/kusion_models/kube/render/render.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

set alicloud ak sk from option
  base/pkg/kusion_clouds/alicloud_backend/alicloud_config.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

set alicloud ak sk from option (#89)
  base/pkg/kusion_clouds/alicloud_backend/alicloud_config.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

feat: add support for kubevela application in render and related wordpress example
  appops/wordpress-kubevela/README.md
  appops/wordpress-kubevela/base/base.k
  appops/wordpress-kubevela/dev/ci-test/settings.yaml
  appops/wordpress-kubevela/dev/ci-test/stdout.golden.yaml
  appops/wordpress-kubevela/dev/kcl.yaml
  appops/wordpress-kubevela/dev/main.k
  appops/wordpress-kubevela/dev/stack.yaml
  appops/wordpress-kubevela/project.yaml
  base/pkg/kusion_models/kube/frontend/server.k
  base/pkg/kusion_models/kube/render/render.k
Owners: @elliotxx, @howieyuen

move object storage configuration code to main.k
  appops/wordpress-kubevela/base/base.k
  appops/wordpress-kubevela/dev/main.k
Owners: @elliotxx, @howieyuen

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2
* @elliotxx @howieyuen @markliby @amyXia1994 @Peefy

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the octocats team in the octo-org organization owns all .txt files.
# *.txt @octo-org/octocats

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat
/appops/ @elliotxx  @howieyuen
/base/examples/job-example  @howieyuen
/base/examples/kcl-vault-agent  @howieyuen
/base/examples/kcl-vault-csi  @howieyuen
/base/examples/monitoring  @Peefy
/base/examples/native  @elliotxx
/base/examples/provider  @markliby
/base/examples/server  @elliotxx
/base/pkg/kusion_kubernetes  @amyXia1994
/base/pkg/kusion_models  @elliotxx 
/base/pkg/kusion_prometheus  @Peefy
/hack/  @elliotxx @markliby

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository and any of its
# subdirectories.
# /docs/ @doctocat

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
# /scripts/ @doctocat @octocat

# In this example, @octocat owns any file in the `/apps`
# directory in the root of your repository except for the `/apps/github`
# subdirectory, as its owners are left empty.
# /apps/ @octocat
# /apps/github
