Repository KusionStack/konfig, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2
* @elliotxx @howieyuen @markliby @amyXia1994 @Peefy

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the octocats team in the octo-org organization owns all .txt files.
# *.txt @octo-org/octocats

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat
/appops/ @elliotxx  @howieyuen
/base/examples/job-example  @howieyuen
/base/examples/kcl-vault-agent  @howieyuen
/base/examples/kcl-vault-csi  @howieyuen
/base/examples/monitoring  @Peefy
/base/examples/native  @elliotxx
/base/examples/provider  @markliby
/base/examples/server  @elliotxx
/base/pkg/kusion_kubernetes  @amyXia1994
/base/pkg/kusion_models  @elliotxx 
/base/pkg/kusion_prometheus  @Peefy
/hack/  @elliotxx @markliby

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository and any of its
# subdirectories.
# /docs/ @doctocat

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
# /scripts/ @doctocat @octocat

# In this example, @octocat owns any file in the `/apps`
# directory in the root of your repository except for the `/apps/github`
# subdirectory, as its owners are left empty.
# /apps/ @octocat
# /apps/github

chore: use manifests function for terraform resources.
  appops/wordpress-kubevela/dev/platform.k
  appops/wordpress/dev/platform.k
  base/examples/kcl-vault-csi/dev/ci-test/stdout.golden.yaml
  base/pkg/kusion_clouds/alicloud_backend/alicloud_instance_backend.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_oss_backend.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

delete unusable apply in main.yml, and rename the job with more clear name
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

delete unusable apply in main.yml, and rename the job with more clear name (#109)
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add wordpress prod config
  appops/wordpress/prod/ci-test/settings.yaml
  appops/wordpress/prod/ci-test/stdout.golden.yaml
  appops/wordpress/prod/kcl.yaml
  appops/wordpress/prod/main.k
  appops/wordpress/prod/platform.k
  appops/wordpress/prod/stack.yaml
Owners: @elliotxx, @howieyuen

add env for wordpress example
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/main.k
Owners: @elliotxx, @howieyuen

fix an error in stdout.golden.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen

move lint.yml to main.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

change sequence and rename report
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

move lint.yml to main.yml (#112)
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add wordpress env
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/main.k
Owners: @elliotxx, @howieyuen

refactor: bump {str:[]} to ResourceMapping type for ty check
  .github/workflows/main.yml
  base/pkg/kusion_models/kube/render/render.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

wordpress example suppports aws rds
  appops/wordpress-aws-rds/README.md
  appops/wordpress-aws-rds/base/base.k
  appops/wordpress-aws-rds/dev/ci-test/settings.yaml
  appops/wordpress-aws-rds/dev/ci-test/stdout.golden.yaml
  appops/wordpress-aws-rds/dev/kcl.yaml
  appops/wordpress-aws-rds/dev/main.k
  appops/wordpress-aws-rds/dev/platform.k
  appops/wordpress-aws-rds/dev/stack.yaml
  appops/wordpress-aws-rds/project.yaml
  base/pkg/kusion_clouds/aws/aws_db_instance.k
  base/pkg/kusion_clouds/aws/aws_security_group.k
  base/pkg/kusion_clouds/aws_backend/aws_config.k
  base/pkg/kusion_clouds/aws_backend/aws_db_instance_backend.k
  base/pkg/kusion_clouds/aws_backend/aws_security_group_backend.k
  base/pkg/kusion_models/kube/backend/database_backend.k
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/backend/storage_backend.k
  base/pkg/kusion_models/kube/frontend/storage/database.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

did some chores
  appops/wordpress/README.md
  appops/wordpress/dev/main.k
Owners: @elliotxx, @howieyuen

refine wordpress code structure for aws rds support
  appops/wordpress-aws-rds/README.md
  appops/wordpress-aws-rds/base/base.k
  appops/wordpress-aws-rds/dev/ci-test/settings.yaml
  appops/wordpress-aws-rds/dev/ci-test/stdout.golden.yaml
  appops/wordpress-aws-rds/dev/kcl.yaml
  appops/wordpress-aws-rds/dev/main.k
  appops/wordpress-aws-rds/dev/platform.k
  appops/wordpress-aws-rds/dev/stack.yaml
  appops/wordpress-aws-rds/project.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/main.k
  appops/wordpress/dev/platform.k
Owners: @elliotxx, @howieyuen

fix a lint problem
  appops/wordpress-kubevela/dev/main.k
  appops/wordpress-kubevela/dev/platform.k
Owners: @elliotxx, @howieyuen

WordPress example supports aws rds (#114)
  appops/wordpress-kubevela/dev/main.k
  appops/wordpress-kubevela/dev/platform.k
  appops/wordpress/README.md
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/main.k
  appops/wordpress/dev/platform.k
  base/pkg/kusion_clouds/aws/aws_db_instance.k
  base/pkg/kusion_clouds/aws/aws_security_group.k
  base/pkg/kusion_clouds/aws_backend/aws_config.k
  base/pkg/kusion_clouds/aws_backend/aws_db_instance_backend.k
  base/pkg/kusion_clouds/aws_backend/aws_security_group_backend.k
  base/pkg/kusion_models/kube/backend/database_backend.k
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/backend/storage_backend.k
  base/pkg/kusion_models/kube/frontend/storage/database.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add aws rds instance type check
  base/pkg/kusion_models/kube/backend/database_backend.k
Owners: @elliotxx

Add aws rds instance type check (#116)
  base/pkg/kusion_models/kube/backend/database_backend.k
Owners: @elliotxx

update wordpress example with kubevela to aws rds
  appops/wordpress-kubevela/dev/ci-test/stdout.golden.yaml
  appops/wordpress-kubevela/dev/main.k
  appops/wordpress-kubevela/dev/platform.k
Owners: @elliotxx, @howieyuen

服务模板增加patch-add-resourceRequirements 配置
  base/pkg/kusion_models/kube/frontend/strategy/scheduling_strategy.k
  base/pkg/kusion_models/kube/utils/str2resource_requirements.k
Owners: @elliotxx

add-patch-resourceRequirements
  base/pkg/kusion_models/kube/frontend/strategy/scheduling_strategy.k
Owners: @elliotxx

add-patch-resourceRequirements
  base/pkg/kusion_models/kube/frontend/strategy/scheduling_strategy.k
Owners: @elliotxx

add patch-add-resourceRequirements for schema SchedulingStrategy (#121)
  base/pkg/kusion_models/kube/frontend/strategy/scheduling_strategy.k
  base/pkg/kusion_models/kube/utils/str2resource_requirements.k
Owners: @elliotxx

add-container-image-pull-policy
  base/pkg/kusion_models/kube/frontend/container/container.k
Owners: @elliotxx

add issue and PR templates
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

amend
  .github/ISSUE_TEMPLATE/failing-test.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add-container-image-pull-policy
  base/pkg/kusion_models/kube/frontend/container/container.k
Owners: @elliotxx

add issue and PR templates (#124)
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

expose `imagePullPolicy` to the frontend model (#123)
  base/pkg/kusion_models/kube/frontend/container/container.k
Owners: @elliotxx

add the code city sample
  appops/code-city/base/base.k
  appops/code-city/dev/ci-test/settings.yaml
  appops/code-city/dev/ci-test/stdout.golden.yaml
  appops/code-city/dev/kcl.yaml
  appops/code-city/dev/main.k
  appops/code-city/dev/stack.yaml
  appops/code-city/project.yaml
Owners: @elliotxx, @howieyuen

chore: bump kcl components to v0.5.x
  .github/workflows/main.yml
  base/pkg/kusion_models/kube/frontend/server.k
  kcl.mod
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

chore: remove un-used test scripts.
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix: wrong lint commands.
  hack/lint_check.py
Owners: @elliotxx, @markliby

chore: bump __META_APP_NAME to option("app")
  appops/nginx-example/base/base.k
  base/examples/server/app_config_map/prod/main.k
Owners: @elliotxx, @howieyuen

chore: refresh all yaml output
  appops/clickhouse-operator/prod/ci-test/stdout.golden.yaml
  appops/guestbook/dev/ci-test/stdout.golden.yaml
  appops/guestbook/prod/ci-test/stdout.golden.yaml
  appops/guestbook/test/ci-test/stdout.golden.yaml
  appops/http-echo/dev/ci-test/stdout.golden.yaml
  appops/nginx-example/dev/ci-test/stdout.golden.yaml
  appops/wordpress-kubevela/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  base/examples/job-example/dev/ci-test/stdout.golden.yaml
  base/examples/kcl-vault-agent/dev/ci-test/stdout.golden.yaml
  base/examples/kcl-vault-csi/dev/ci-test/stdout.golden.yaml
  base/examples/monitoring/prometheus-example-app/prod/ci-test/stdout.golden.yaml
  base/examples/monitoring/prometheus-install/prod/ci-test/stdout.golden.yaml
  base/examples/monitoring/prometheus-rules/alert/ci-test/stdout.golden.yaml
  base/examples/monitoring/prometheus-rules/record/ci-test/stdout.golden.yaml
  base/examples/secret-as-code/dev/ci-test/stdout.golden.yaml
  base/examples/server/app_config_map/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_label_selector/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_main_container/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_need_namespace/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_scheduling_strategy/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_secret/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_service/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_sidecar/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_stateful_set/prod/ci-test/stdout.golden.yaml
  base/examples/server/app_volume/prod/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_instance/instance/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_oss/oss/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen, @Peefy, @markliby, @amyXia1994

update github action yml to fix a ci bug caused by kusion v0.8.2
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

chore: add vaultv1 package path and update the golden yaml
  base/examples/kcl-vault-csi/base/base.k
  base/examples/kcl-vault-csi/dev/ci-test/stdout.golden.yaml
Owners: @howieyuen

feat: set empty volumeMounts list with the default value Undefined
  base/pkg/kusion_models/kube/utils/volume_patch.k
Owners: @elliotxx

chore: update kcl-vault-csi golden YAML
  base/examples/kcl-vault-csi/dev/ci-test/stdout.golden.yaml
Owners: @howieyuen

feat: make konfig into a kcl package.
  kcl.mod
  kcl.mod.lock
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy
