Repository KusionStack/konfig, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

refactor: remove settings attribute in the config render
  base/pkg/kusion_models/kube/render/render.k
  hack/test_konfig.py
  kcl.mod
Owners: @elliotxx, @markliby, @howieyuen, @amyXia1994, @Peefy

feat: update makefile and CI yml
  .github/workflows/main.yml
  Makefile
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

test
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

ci: use python3 instead of kclvm
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

refactor: refine render and add more comments.
  base/pkg/kusion_models/kube/render/render.k
Owners: @elliotxx

ci: add kclvm installation
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix: shell scripts.
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

ci: remove kusion version
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix: backend service name in http-echo
  appops/http-echo/base/base.k
  appops/http-echo/dev/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen

chore: update test scripts to be compatible with new kusion compile output
  .github/workflows/main.yml
  hack/test_konfig.py
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

test
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

refactor: remove settings attribute in the config render
  base/pkg/kusion_models/kube/render/render.k
  kcl.mod
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

feat: update makefile and CI yml
  .github/workflows/main.yml
  Makefile
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

refactor: refine render and add more comments.
  base/pkg/kusion_models/kube/render/render.k
Owners: @elliotxx

ci: use python3 instead of kclvm
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix: shell scripts.
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

ci: add kclvm installation
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

ci: remove kusion version
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

Update cla.yml
  .github/workflows/cla.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

Revert "add alicloud ack example"
  base/pkg/kusion_clouds/alicloud/alicloud_cs_managed_kubernetes.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_managed_kubernetes_backend.k
  clouds/alicloud/alicloud_kubernetes/ack/ci-test/settings.yaml
  clouds/alicloud/alicloud_kubernetes/ack/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_kubernetes/ack/kcl.yaml
  clouds/alicloud/alicloud_kubernetes/ack/main.k
  clouds/alicloud/alicloud_kubernetes/ack/stack.yaml
  clouds/alicloud/alicloud_kubernetes/project.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

refactor: bump top level `=` to `:` because the feature will be deprecated in kclvm v0.4.6
  appops/wordpress/base/base.k
  appops/wordpress/dev/main.k
Owners: @elliotxx, @howieyuen

feat: add supports for wordpress example demo with KubeVela Application and related Alicloud RDS resources
  appops/wordpress-kubevela/dev/main.k
  base/pkg/kusion_models/kube/frontend/storage/database.k
  base/pkg/kusion_models/kube/render/render.k
Owners: @elliotxx, @howieyuen

set alicloud ak sk from option (#89)
  appops/wordpress-kubevela/README.md
  appops/wordpress-kubevela/base/base.k
  appops/wordpress-kubevela/dev/ci-test/settings.yaml
  appops/wordpress-kubevela/dev/ci-test/stdout.golden.yaml
  appops/wordpress-kubevela/dev/kcl.yaml
  appops/wordpress-kubevela/dev/main.k
  appops/wordpress-kubevela/dev/stack.yaml
  appops/wordpress-kubevela/project.yaml
  base/pkg/kusion_clouds/alicloud/alicloud_db_connection.k
  base/pkg/kusion_clouds/alicloud/alicloud_db_instance.k
  base/pkg/kusion_clouds/alicloud/alicloud_rds_account.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_config.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_instance_backend.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_rds_backend.k
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/frontend/server.k
  base/pkg/kusion_models/kube/frontend/storage/database.k
  base/pkg/kusion_models/kube/render/render.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

feat: add platform.k to realize the concern seperation for application developers and platform developers, reorganize the wordpress example with kubevela and make the code more standardized
  appops/wordpress-kubevela/README.md
  appops/wordpress-kubevela/base/base.k
  appops/wordpress-kubevela/dev/ci-test/settings.yaml
  appops/wordpress-kubevela/dev/ci-test/stdout.golden.yaml
  appops/wordpress-kubevela/dev/kcl.yaml
  appops/wordpress-kubevela/dev/main.k
  appops/wordpress-kubevela/dev/platform.k
  appops/wordpress-kubevela/project.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  base/pkg/kusion_clouds/alicloud/alicloud_db_connection.k
  base/pkg/kusion_clouds/alicloud/alicloud_db_instance.k
  base/pkg/kusion_clouds/alicloud/alicloud_rds_account.k
  base/pkg/kusion_clouds/alicloud/alicloud_vpc.k
  base/pkg/kusion_clouds/alicloud/alicloud_vswitch.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_config.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_instance_backend.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_oss_backend.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_rds_backend.k
  base/pkg/kusion_models/commons/resource_builder.k
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/frontend/storage/database.k
  clouds/alicloud/alicloud_instance/instance/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_instance/instance/main.k
  clouds/alicloud/alicloud_oss/oss/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add supports for wordpress example demo with KubeVela Application and related Alicloud RDS resources (#91)
  appops/wordpress-kubevela/README.md
  appops/wordpress-kubevela/base/base.k
  appops/wordpress-kubevela/dev/ci-test/settings.yaml
  appops/wordpress-kubevela/dev/ci-test/stdout.golden.yaml
  appops/wordpress-kubevela/dev/kcl.yaml
  appops/wordpress-kubevela/dev/main.k
  appops/wordpress-kubevela/dev/platform.k
  appops/wordpress-kubevela/dev/stack.yaml
  appops/wordpress-kubevela/project.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  base/pkg/kusion_clouds/alicloud/alicloud_db_connection.k
  base/pkg/kusion_clouds/alicloud/alicloud_db_instance.k
  base/pkg/kusion_clouds/alicloud/alicloud_rds_account.k
  base/pkg/kusion_clouds/alicloud/alicloud_vpc.k
  base/pkg/kusion_clouds/alicloud/alicloud_vswitch.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_config.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_instance_backend.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_oss_backend.k
  base/pkg/kusion_clouds/alicloud_backend/alicloud_rds_backend.k
  base/pkg/kusion_models/commons/resource_builder.k
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/frontend/server.k
  base/pkg/kusion_models/kube/frontend/storage/database.k
  base/pkg/kusion_models/kube/render/render.k
  clouds/alicloud/alicloud_instance/instance/ci-test/stdout.golden.yaml
  clouds/alicloud/alicloud_instance/instance/main.k
  clouds/alicloud/alicloud_oss/oss/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

revise the original wordpress example with Alicloud RDS as database backend
  appops/wordpress/README.md
  appops/wordpress/base/base.k
  appops/wordpress/dev/ci-test/settings.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/kcl.yaml
  appops/wordpress/dev/main.k
  appops/wordpress/dev/platform.k
Owners: @elliotxx, @howieyuen

chore: fixed a typo in README.md of wordpress examples and added some comments for code instructions
  appops/wordpress/README.md
  appops/wordpress/dev/main.k
Owners: @elliotxx, @howieyuen

chore: fixed a typo in README.md of wordpress examples and added some comments for code instructions
  appops/wordpress-kubevela/README.md
  appops/wordpress-kubevela/dev/main.k
Owners: @elliotxx, @howieyuen

fix: recompile wordpress and wordpress-kubevela to fix ci failures
  appops/wordpress-kubevela/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen

fix: recompile wordpress and wordpress-kubevela to fix ci failures (#103)
  appops/wordpress-kubevela/dev/ci-test/stdout.golden.yaml
  appops/wordpress/dev/ci-test/stdout.golden.yaml
Owners: @elliotxx, @howieyuen

refactor: remove settings in base models.
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_application_revision.k
  base/pkg/kusion_models/kube/frontend/job.k
  base/pkg/kusion_models/kube/frontend/server.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_advanced_cron_job.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_broadcast_job.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_clone_set.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_container_recreate_request.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_daemon_set.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_image_pull_job.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_node_image.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_sidecar_set.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_stateful_set.k
  base/pkg/kusion_openkruise/apps/v1alpha1/apps_kruise_io_v1alpha1_united_deployment.k
  base/pkg/kusion_openkruise/apps/v1beta1/apps_kruise_io_v1beta1_stateful_set.k
  base/pkg/kusion_prometheus/monitoring/v1/alertmanager.k
  base/pkg/kusion_prometheus/monitoring/v1/prometheus.k
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

chore: bump kclvm version to v0.4.6
  .github/workflows/lint.yml
  .github/workflows/main.yml
  kcl.mod
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

refactor: remove all kcl settings attributes.
  base/examples/kcl-vault-csi/base/base.k
  base/examples/kcl-vault-csi/dev/kcl.yaml
  base/examples/kcl-vault-csi/dev/main.k
  base/pkg/kusion_kubevela/v1beta1/core_oam_dev_v1beta1_application_revision.k
  base/pkg/kusion_models/commons/resource_builder.k
  base/pkg/kusion_models/kube/backend/job_backend.k
  base/pkg/kusion_models/kube/mixins/output_type_mixin.k
  base/pkg/kusion_models/kube/render/render.k
  base/pkg/kusion_vault/v1/secretproviderclass.k
Owners: @howieyuen, @elliotxx, @markliby, @amyXia1994, @Peefy

chore: use latest kclvm version in ci-tests.
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

fix: cmds in the test scripts.
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

add type validation and assertion for storage.DataBase.DBAttr
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/frontend/storage/database.k
Owners: @elliotxx

add type validation and assertion for storage.DataBase.DBAttr (#104)
  base/pkg/kusion_models/kube/backend/server_backend.k
  base/pkg/kusion_models/kube/frontend/storage/database.k
Owners: @elliotxx

chore: refine the code of adding environment variable and string concatenation for wordpress application
  appops/wordpress/dev/main.k
  appops/wordpress/dev/platform.k
Owners: @elliotxx, @howieyuen

fix: add generated pod model
  base/pkg/kusion_kubernetes/api/core/v1/pod.k
Owners: @amyXia1994

chore: bump kclvm version to v0.4.6.2.
  .github/workflows/lint.yml
  .github/workflows/main.yml
Owners: @elliotxx, @howieyuen, @markliby, @amyXia1994, @Peefy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# *       @global-owner1 @global-owner2
* @elliotxx @howieyuen @markliby @amyXia1994 @Peefy

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the octocats team in the octo-org organization owns all .txt files.
# *.txt @octo-org/octocats

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
# /build/logs/ @doctocat
/appops/ @elliotxx  @howieyuen
/base/examples/job-example  @howieyuen
/base/examples/kcl-vault-agent  @howieyuen
/base/examples/kcl-vault-csi  @howieyuen
/base/examples/monitoring  @Peefy
/base/examples/native  @elliotxx
/base/examples/provider  @markliby
/base/examples/server  @elliotxx
/base/pkg/kusion_kubernetes  @amyXia1994
/base/pkg/kusion_models  @elliotxx 
/base/pkg/kusion_prometheus  @Peefy
/hack/  @elliotxx @markliby

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
# docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
# apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository and any of its
# subdirectories.
# /docs/ @doctocat

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
# /scripts/ @doctocat @octocat

# In this example, @octocat owns any file in the `/apps`
# directory in the root of your repository except for the `/apps/github`
# subdirectory, as its owners are left empty.
# /apps/ @octocat
# /apps/github
